<button ng-click="propertyName = null; reverse = false">Reset to unsorted</button>
<table >
    <tr>
      <th>
        <button ng-click="sortBy('name')">Name</button>
      </th>
      <th>
        <button ng-click="sortBy('category')">Category</button>
      </th>
      <th>
        <button ng-click="sortBy('amount')">Amount</button>
      </th>
    </tr>
    <tr ng-repeat="item in data | orderBy:propertyName:reverse">
      <td>{{item.name}}</td>
      <td>{{item.category}}</td>
      <td>{{item.amount}}</td>
    </tr>
  </table>
